{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="grid grid-cols-4 gap-4">
        <div class=" rounded-lg shadow-lg">
            <div>
                Period
            </div>
        </div>
        <div class=" rounded-lg shadow-lg">
            <div>
                Department
            </div>
        </div>
        <div class=" rounded-lg shadow-lg">
            <div>
                Employee
            </div>
        </div>
        <div class=" rounded-lg shadow-lg">
            <div>
                <button>
                    Download Excel
                </button>
            </div>
        </div>
    </div>
</body>
</html>