@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.apply-dir-here {
	@apply max-w-[400px];
}


canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.chart-container {
	position: relative;
	margin: auto;
	height: 400px;
	width: 800px;
}
.chart-container canvas {
	position: absolute;
	top: 0;
	left: 0;
}
