{% load static %}

<!-- Widget 4 -->
<div class="rounded-lg bg-white p-4 shadow-md row-span-8 ml-4">
  <div class="relative">
    <div class="font-inter ml-2 mt-2 font-sans">
      <h5 class="leading-44 text-2xl font-bold text-black">Employees</h5>
      <div class="grid grid-rows-12">
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <img
            src="{% static 'images/employee1.png' %}"
            class="w-[48px] h-[48px] rounded-full mt-3"
          />
          <div class="py-3 w-48 h-90">
            <div class="text-sm font-bold font-sans font-inter text-center">
              Patricia Kim Rosauro
              <div class="text-sm font-normal font-sans font-inter text-start ml-7">
                IT Department
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
